.myDialog{
    -fx-font-family: 'Arial';
    -fx-text-fill: #ffffff;
    -fx-background-color: #313131;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: #313131;
}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel{
    -fx-background-color: #313131;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
}

.myDialog > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-text-fill: #ffffff;
    //-fx-border-width: 2;
    //-fx-border-color: #ffffff;
    -fx-background-color: #1F8FE8;
    -fx-font-size:15.0px;
}

/**Costumization of Buttons**/
.myDialog .button{
    -fx-background-color:#1F8FE8;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: rgb(255, 255, 255);
}

.myDialog .button:hover{
    -fx-background-color: #1f72ca;
}
