/*ALL*/
* {
    -fx-text-fill: white;
    -fx-font-family: 'Arial';
}

/*Root*/

.root {
    -fx-background-color: #313131;
}

/*INPUT*/

.text-field {
    -fx-text-fill: black;
}

.text-area {
    -fx-text-fill: black;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: #1F8FE8;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    /* interpolate color between yellow and red based on first color brightness */
    -fx-body-color: #1f72ca;
}

.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    /* interpolate color between yellow and red based on first color brightness */
    -fx-body-color: #1f53a5;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow{
    -fx-background-color: white;
}

.choice-box{
    -fx-background-color: #1F8FE8;
    -fx-mark-color: white;
}

.choice-box:hover{
    -fx-background-color: #1f72ca;
    -fx-mark-color: white;
}

.choice-box > .label {
    -fx-text-fill: white;
}

.validation-label {
    -fx-text-fill: red;
}

/*Menu Bar*/

.menu-bar {
    -fx-background-color: #212121;
}

.menu-item {
    -fx-background-color: #212121;
}

.menu-item:hover {
    -fx-background-color: #111111;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: darkgray;
}

.menu-item:focused .label {
    -fx-text-fill: #111111;
}

/*Context Menu*/

.context-menu {
    -fx-background-color: #212121;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

/*Buttons*/

.button {
    -fx-font-family: 'Verdana';
    -fx-background-color: #1F8FE8;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-text-fill: rgb(255, 255, 255);
}

.button:pressed {
    -fx-background-size: 90%;
    -fx-background-color: #1f53a5;
}

.button:hover {
    -fx-background-color: #1f72ca;
}

/*Tab Panel*/

.tab {
    -fx-font-size: 18;
    -fx-background-color: #1F8FE8;
}

.tab:hover {
    -fx-background-color: #1f72ca;
}

.tab:selected {
    -fx-background-color: #1f53a5;
}

.tab-pane *.tab-header-background {
/ / -fx-border-color: #313131;
    -fx-background-color: #313131;
}

/*Table View*/

.table-view .column-header {
    -fx-font-size: 16;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #1F8FE8;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #414141;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #313131;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view .filler {
    -fx-background-color: transparent;
}


.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow,
.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}


